StudyCards/Config/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Configuration"
    targetNamespace="http://tempuri.org/Configuration.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Configuration.xsd"
    xmlns:mstns="http://tempuri.org/Configuration.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="Configuration" type="ConfigurationType"></xs:element>

  <xs:complexType name="ConfigurationType">
    <xs:sequence>
      <xs:element name="DefaultDeck" type="xs:string"></xs:element>
      <xs:element name="UsedStack" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
